body,
div,
h1,
h2,
h3,
p,
header,
ul,
li,
table,
menu {
    margin: 0;
    padding: 0;
}

body {
    background-image: url('/images/background1.png');
    width: 100%;
}

body.about {
    background-image: url('/images/background3.png');
}

body.scenes {
    background-image: url('/images/background4.png');
}



#container {
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
    width: 360px;
    height: 640px;
    background-color: white;
    padding: 0;
    overflow: scroll;
    border: 1px solid black;
    position: fixed;
    left: 0;
    right: 0;
    position: relative;
}

header {
    text-align: center;
    width: 360px;
    height: 50px;
    background-color: blue;
    z-index: 100;
    position: fixed;
}

/* TEKST */
h1 {
    padding: 15px;
    /*font-family: "ArmWrestler", monospace;*/
    font-family: "Space Mono", monospace;
    font-family: "Ubuntu", sans-serif;
    font-weight: 700;
    /*font-weight: 800;*/
    font-style: normal;
    font-size: 18pt;
    color: black;
    letter-spacing: 1.5px;
    text-transform: uppercase;
}

header a:link,
p a:link,
p a:link:active,
p a:visited:active {
    text-decoration: none;
}

header a:visited,
p a:visited {
    color: rgb(0, 255, 0); 
}

h2 {
    padding: 3px;
    /*font-family: "ArmWrestler", monospace;*/
    font-family: "Space Mono", monospace;
    font-family: "Ubuntu", sans-serif;
    font-weight: 800;
    font-style: normal;
    font-size: 35pt;
    line-height: 1.2;
}

h3 {
    padding: 3px;
    padding-left: 0px;
    /*font-family: "ArmWrestler", monospace;*/
    font-family: "Space Mono", monospace;
    font-family: "Ubuntu", sans-serif;
    font-weight: 800;
    font-style: normal;
    font-size: 13pt;
    line-height: 1.2;
}

p {
    font-family: "Space Mono", monospace;
    font-weight: 400;
    font-style: normal;
}

ul li {
    font-family: "Space Mono", monospace;
    font-weight: 400;
    font-style: normal;
    color: white;
    margin-left: 20px;
}

contentScene li {
    font-family: "Space Mono", monospace;
    font-weight: 400;
    font-style: normal;

}

ul {
    list-style-type: square;
}

/* MAIN */
.content {
    padding: 10px;
    margin-top: 50px;
    margin-bottom: 70px;
    z-index: 70;
    position: relative;

}

#storyLine {}

main h2 {
    color: white;
    text-shadow: black 3px -5px;
}

#mapFolder {
    position: fixed;
    width: 340px;
    height: 640px;
}

.layBottom {
    position: fixed;
    top: 40px;
    z-index: -50;
    width: 360px;
    height: 640px;
}

.layTop {
    position: fixed;
    top: 40px;
    z-index: 10;
    width: 360px;
    height: 640px;
}


/* FOOTER */
footer {
    width: 360px;
    height: 60px;
    z-index: 100;
    position: fixed;
    bottom: 30px;

    menu {
        display: table-row;
        text-align: center;
        li {
            display: table-cell;
            padding: 0 15px;
            background-size: contain;
            background-repeat: no-repeat;
            background-position: center;
            a {
              text-align: center;
              vertical-align: middle;
              min-height: 50px;
              line-height: 50px;
              min-width: 100px;
              display: inline-block;
              padding: 10px;
              min-width: 100px;
              color: #fff;
              text-transform: uppercase;
            }
        }
        li.menu-about {
          background-image: url("/images/about.svg");
        }
        li.menu-scenes {
          background-image: url("/images/map.svg");
        }
        li.menu-story {
          background-image: url("/images/story.svg");
        }
    }
}


/* About page */



/* SCENER */
#containerScene {
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
    width: 360px;
    height: 640px;
    background-color: black;
    padding: 0;
    overflow: scroll;
    border: 1px solid black;
    position: fixed;
    left: 0;
    right: 0;
}

.contentScene h3 {
    padding: 3px;
    padding-left: 0px;
    font-family: "BioRhyme", serif;
    font-weight: 800;
    font-style: normal;
    font-size: 13pt;
    line-height: 1.2;
    color: white;
}

.contentScene {
    padding: 10px;
    margin-top: 50px;
    margin-bottom: 70px;
}

#container3D {
    width: 100%;
    height: 230px;
    background-color: white;
}

.sceneNav {
    text-align: center;
}

.sceneNav p {
    font-size: 20pt;
}

/* LANGUAGE SITE */
.centerText {
    text-align: center;
    padding: 15px;
    margin: 100px;
    background-color: black;
    color: rgb(0, 255, 0);
    border: 1px solid rgb(0, 255, 0);
    height: 35px;
}

/* FARVER */
.dPink {
    color: deeppink;
}

.green {
    color: rgb(0, 255, 0);
}

.white {
    color: white;
}

/* AFSTANDE */
.sH {
    height: 200px;
}

.mH {
    height: 400px;
}

.lH {
    height: 640px;
}

.hidden {
    visibility: hidden;
}

.textBox {
    padding: 7px;
    margin: 30px;
    background-color: black;
    color: rgb(0, 255, 0);
}
