body {
    background-image: url('images/background4.png');
    width: 100%;
}

#container3D canvas {
    width: 100% !important;
    height: 100% !important;
    position: absolute;
    top: 0;
    left: 0;
    background-color: aquamarine;
}
