body,
div,
h1,
h2,
h3,
p,
header,
ul,
li,
table,
menu {
    margin: 0;
    padding: 0;
}

body {
    background-image: url('images/background10.png');
    width: 100%;
}

.container {
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
    width: 360px;
    height: 640px;
    background-color: white;
    padding: 0;
    overflow: scroll;
    border: 1px solid black;
    left: 0;
    right: 0;
    position: fixed;
}

header {
    text-align: center;
    width: 360px;
    height: 50px;
    background-color: deeppink;
    z-index: 100;
    position: fixed;
    display: block;
}

select {
    font-family: "Space Mono", monospace;
    font-size: 8pt;
    font-weight: 400;
    font-style: normal;
    background-color: deeppink;
    color: black;
    width: 45px;
    height: 30px;
    border: 1px solid black;
}

select, header h1 {
    display: inline-block;
}

/* TEKST */
h1 {
    padding: 10px;
    font-family: "Bauhaus", sans-serif;
    font-style: normal;
    font-size: 18pt;
    color: black;
    letter-spacing: 1.5px;
    text-transform: uppercase;
}

header a:link,
p a:link,
p a:link:active,
p a:visited:active {
    text-decoration: none;
}

h2 {
    padding: 3px;
    font-family: "Bauhaus", sans-serif;
    font-weight: 800;
    font-style: normal;
    font-size: 35pt;
    line-height: 1.2;
}

h3 {
    padding: 3px;
    margin-bottom: 7px;
    padding-left: 0px;
    font-family: "Bauhaus", sans-serif;
    font-weight: 800;
    font-style: normal;
    font-size: 13pt;
    line-height: 1.2;
}

p {
    font-family: "Space Mono", monospace;
    font-weight: 400;
    font-style: normal;
}

ul li {
    font-family: "Space Mono", monospace;
    font-weight: 400;
    font-style: normal;
    color: white;
    margin-left: 20px;
}

contentScene li {
    font-family: "Space Mono", monospace;
    font-weight: 400;
    font-style: normal;

}

ul {
    list-style-type: square;
}

/* MAIN */
.content {
    padding: 15px;
    margin-top: 50px;
    margin-bottom: 70px;
    z-index: 70;

}

/* MAP */
#mapFolder {
    position: absolute;
    width: 340px;
    height: 640px;
    top: 0;
}

#map {
    position: absolute;
    width: 360px;
    height: 640px;
}

#well {
    font-size: 30pt;
    font-weight: 800;
}

#wellScenes {
    position: absolute;
    top: 33%;
    left: 59%;
    text-align: center;
    font-size: 18pt;
    line-height: 0.9;
}

#prisma {
    font-size: 25pt;
}

#prismaScenes {
    position: absolute;
    top: 18%;
    left: 50%;
    text-align: center;
    font-size: 18pt;
    line-height: 0.9;
}

#antenna {
    font-size: 25pt;
}

#antennaScenes {
    position: absolute;
    top: 46%;
    left: 56%;
    text-align: center;
    font-size: 18pt;
    line-height: 0.9;
}



/* STORY */
#storyLine {}

#storyLine h2 {
    color: white;
    text-shadow: black 3px -5px;
    /*textborder: 0.5px solid black;*/
}

#mapStory {
    position: fixed;
    top: 40px;
    z-index: -50;
    width: 360px;
    height: 640px;
}

.layBottom {
    position: fixed;
    top: 40px;
    z-index: -50;
    width: 360px;
    height: 640px;
}

.layTop {
    z-index: 10;
    width: 360px;
    height: 640px;
}

.stickyMap {
    position: -webkit-sticky;
    position: sticky;
    top: 40px;
}


/* FOOTER */
footer {
    width: 360px;
    height: 60px;
    z-index: 100;
    position: fixed;
    bottom: 15px;
}

menu {
    display: inline-block;
    text-align: center;
}

menu img {
    display: inline-block;
    margin-right: 15px;
    width: 20%;
}

/* About page */



/* SCENER */


/* LANGUAGE SITE */
.centerText {
    text-align: center;
    padding: 15px;
    margin: 100px;
    background-color: black;
    color: rgb(0, 255, 0);
    border: 1px solid rgb(0, 255, 0);
    height: 35px;
}

/* FARVER */
.dPink {
    color: deeppink;
}

.green {
    color: rgb(0, 255, 0);
}

.white {
    color: white;
}

.blue {
    color: blue;
}

.orange {
    color: rgb(255, 115, 0);
}

.yellow {
    color: rgb(255, 255, 0);
}

/* AFSTANDE */
.sH {
    height: 200px;
}

.mH {
    height: 400px;
}

.lH {
    height: 640px;
}

.hidden {
    visibility: hidden;
}

.textBox {
    padding: 7px;
    margin: 30px;
    background-color: black;
    color: rgb(0, 255, 0);
}
